#idd{
    color:red;
    background-color:yellow;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}
#idd11{
    color:red;
    background-color:yellow;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}